<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP4</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/jardins">Jardins</a>
      <a class="nav-item nav-link active" routerLink="/plantes">Plantes</a>
      <a class="nav-item nav-link active" routerLink="/varietes">Variété</a>
      <a class="nav-item nav-link active" routerLink="/ajouterVariete">Ajouter-Variété</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue<br />
  </p>
  <button type="button" class="btn" routerLink="/jardins"> découvrez nos jardins communautaires &#10140;</button>
</div>

<router-outlet></router-outlet>
