<div id="variete">
  <h1>Ajouter-Variete</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom variété</th>
      <th class="contentCell">description Semis</th>
      <th class="contentCell">Description plantation</th>
      <th class="contentCell">description entretien</th>
      <th class="contentCell">description mis en place</th>
      <th class="contentCell">description récolte</th>
      <th class="contentCell">commentaire générale</th>
      <th class="contentCell">description période récolte</th>
      <th class="contentCell">année mis en marche</th>
    </thead>
    <tbody>
      <td class="contentCell" contenteditable="true"   #nomVariete></td>
      <td class="contentCell" contenteditable="true"  #descriptionSemis></td>
      <td class="contentCell" contenteditable="true" #descriptionPlantation></td>
      <td class="contentCell" contenteditable="true"  #descriptionEntretien></td>
      <td class="contentCell" contenteditable="true"  #descriptionMiseEnPlace></td>
      <td class="contentCell" contenteditable="true" #descriptionRecolte></td>
      <td class="contentCell" contenteditable="true"  #commentaireGeneral></td>
      <td class="contentCell" contenteditable="true" #descriptionPeriodeRecolte></td>
      <td class="contentCell" contenteditable="true"  #anneeMiseEnMarchee></td>

    </tbody>
  </table>
  <button type="button" class="btn" (click)="addVariete()"  > Ajouter une variété</button>

</div>
