<div id="hotel">
  <h1>Hotels</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom variété</th>
      <th class="contentCell">description Semis</th>
      <th class="contentCell">Description plantation</th>
      <th class="contentCell">description entretien</th>
      <th class="contentCell">description mis en place</th>
      <th class="contentCell">description récolte</th>
      <th class="contentCell">commentaire générale</th>
      <th class="contentCell">description période récolte</th>
      <th class="contentCell">année mis en marche</th>
    </thead>
    <tbody>
      <tr *ngFor="let variete of varietes; let i = index">
        <td class="contentCell">{{ variete.nomVariete }}</td>
        <td class="contentCell">{{ variete.descriptionSemis  }}</td>
        <td class="contentCell">{{ variete.descriptionPlantation }}</td>
        <td class="contentCell">{{ variete.descriptionEntretien}}</td>
        <td class="contentCell">{{ variete.descriptionMiseEnPlace }} </td>
        <td class="contentCell">{{ variete.descriptionRecolte }}</td>
        <td class="contentCell">{{ variete.commentaireGeneral }}</td>
        <td class="contentCell">{{ variete.descriptionPeriodeRecolte }}</td> 
        <td class="contentCell">{{ variete.anneeMiseEnMarchee }}</td>
        <td class="actionCell">
          <button type="button" class="submitbtn" (click)="getVarietes() " ><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="getVarietes()" ><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>

     

    </tbody>
  </table>


</div>
