<div id="variete">
  <h1>Variete</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom variété</th>
      <th class="contentCell">description Semis</th>
      <th class="contentCell">Description plantation</th>
      <th class="contentCell">description entretien</th>
      <th class="contentCell">description mis en place</th>
      <th class="contentCell">description récolte</th>
      <th class="contentCell">commentaire générale</th>
      <th class="contentCell">description période récolte</th>
      <th class="contentCell">année mis en marche</th>
    </thead>
    <tbody>
      <tr *ngFor="let variete of varietes; let i = index">
        <td class="contentCell" >{{ variete.nomVariete }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event,'descriptionSemis' ,i)">{{ variete.descriptionSemis  }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event,'descriptionPlantation' , i)">{{ variete.descriptionPlantation }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event,'descriptionEntretien' , i)">{{ variete.descriptionEntretien}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event,'descriptionMiseEnPlace' , i)">{{ variete.descriptionMiseEnPlace }} </td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event, 'descriptionRecolte' ,i)">{{ variete.descriptionRecolte }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event, 'commentaireGeneral' ,i)">{{ variete.commentaireGeneral }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event,'descriptionPeriodeRecolte' , i)">{{ variete.descriptionPeriodeRecolte }}</td> 
        <td class="contentCell" contenteditable="true" (blur)="changeVariete($event,'anneeMiseEnMarchee' , i)">{{ variete.anneeMiseEnMarchee }}</td>
        <td class="actionCell">
          <button type="button" class="submitbtn" (click)="updateVariete(i) " ><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deleteVariete(variete.nomVariete)" ><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>

     

    </tbody>
  </table>


</div>
